# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/
.conda/
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# App outputs & local data
out/
reports/
runs/
data/input/*.xlsx
data/input/*.xls
*.log

# Streamlit
.streamlit/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
